.about{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  padding-top:8rem;
  padding-bottom: 10rem;
  flex-direction: row;
  flex-wrap:wrap;
  &__title{
    margin-bottom: 4rem;
  }
  &__desc{
    text-align:left;
    font-size:1.4rem;
    text-transform: none;
    margin-bottom:3.7rem;
  }
  &__category{
    width:35rem;
    align-items: flex-start;
    margin-right: 3rem;
  }
  &__tag-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__tag{
    margin-right:2rem;
    margin-bottom:2rem;
  }
  &__email{
    background: rgba(255, 255, 255, 0.4);
    outline: none;
    border:0;
    width:21rem;
    height:4.2rem;
    white-space: nowrap;
    padding:1rem 1.5rem 1.1rem 1.5rem;
    transition: .2s all ease-in-out;
    &::placeholder{
      color:#969696;
    }
    &:hover{
      background: rgba(255,255,255,.6);
      &::placeholder{
        color:#444;
      }
    }
    &:focus{
      background: rgba(255,255,255,.7);
    }
  }
  &__button{
    padding: 1rem 2rem;
    font-size:1.4rem;
    letter-spacing: .04rem;
    line-height: 2.2rem;
    background: #000;
    border:0;
    &:hover{
      border:0;
    }
  }
  &__label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.tag{
  background-color: #000;
  color:#D0D0D0;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 1.4rem;
  text-align: center;
  padding:1rem 2rem;
  text-transform: lowercase;
  cursor:pointer;
  transition: .2s all ease-in-out;
  white-space: nowrap;
  &:hover{
    color:#000 !important;
    background-color: #FFF;
  }
}