mixin lastLine()
  .last-line
    .last-line__container
      span.last-line__copyright © 2020 Все права защищены
      a.last-line__creator(href="https://github.com/Avircut" target="_blank" rel="noopener noreferrer") Сделано Avircut