.button{
  border:1px solid #fff;
  background-color: transparent;
  color:#FFF;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 1.8rem;
  text-align: center;
  padding:1.2rem 2.8rem;
  text-transform: uppercase;
  cursor:pointer;
  letter-spacing: .1rem;
  transition: .2s all ease-in-out;
  &:hover{
    color:#000;
    background-color: #FFF;
    border:1px solid #000;
  }
}