@use './items-section/items-section.scss';
@use './button-section/button-section.scss';
@use './image-section/image-section.scss';
@use './description-section/description-section.scss';


section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}