mixin top-line()
  .top-line
    .top-line__wrapper
      span.top-line__contacts.contacts 8 (812) 123-45-67 | Работаем 7 дней в неделю | 9:00 — 18:00
      a(href="").top-line__login.login Войти / Регистрация