@use '../../variables.scss' as var;
.top-line{
  background: #000;

  color:#969696;
  &__contacts{
    padding:1.4rem 1.4rem 1.4rem 0;
    position:relative;
    &::before{
      content:'';
      width:1.4rem;
      height:1.4rem;
      background: url('../assets/images/phone.svg');
      display: inline-block;
      margin-bottom:-.2rem;
      margin-right:1.6rem;
    }
    &>*:not(:first-child){
      border-left: 1px solid #969696;
      padding-left:1rem;
    }
    &>*{
      padding-right:1rem;
    }
  }
  &__login{
    padding:1.4rem 0 1.4rem 1.4rem;
    position: relative;
    color:#969696;
    &:hover{
      color:#FFF;
    }
    &::before{
      content:'';
      width:1.4rem;
      height:1.4rem;
      background: url('../assets/images/login.svg');
      display:inline-block;
      margin-right: 1.4rem;
      margin-bottom:-.2rem;
    }
  }
  &__wrapper{
    max-width: var.$middle_wrapper_width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 auto;
  }
}