mixin buttonSection(buttonSection)
  section.button-section(style=`background-image:url(${buttonSection.image})`)
    h2.button-section__title=buttonSection.title
    button.button-section__button.button=buttonSection.buttonText
