include ./banner/banner
include ./section/button-section/button-section
include ./section/description-section/description-section
include ./section/image-section/image-section
include ./section/items-section/items-section
-const itemSections= require('../components/main/section/items-section/items-section.js')
-const btnSection = require('../components/main/section/button-section/button-section.js')
-const imgSection = require('../components/main/section/image-section/image-section.js')
-const descSection = require('../components/main/section/description-section/description-section.js')
mixin main()
  .main 
    +banner()
    +itemsSection(itemSections.featured)
    +buttonSection(btnSection.newCollection)
    +imageSection(imgSection.newCollection)
    +descSection(descSection.collection2018)
    +itemsSection(itemSections.newCollection,'items-section_size_fullscreen')
    +itemsSection(itemSections.brands,'items-section_size_fullscreen items-section_wo-captions items-section_narrow')
