.overlay{
  width:100vw;
  height:0;
  transition:.3s all ease-in-out;
  background: #000;
  color:#FFF;
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
}
.slideDown{
  display: block;
  animation-name: slideDown;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes slideDown {
  from {
    opacity:0;
    height:0;
  }
  to {
    opacity:1;
    height:100vh;
  }
}
.slideUp{
  animation-name: slideUp;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  from {
    opacity:1;
    height:100vh;
  }
  to {
    opacity: 0;
    height:0;
  }
}