include ../burger/burger
mixin nav(links)
  nav.nav
    .nav__wrapper
      .nav__logo.logo porten
      .nav__control-group
        ul.nav__links
          each item in links
            li.nav__link
              a(href=`${item.link}`)=item.text
        .nav__controls
          .nav__cart
          .nav__search
      +burger(links)