mixin descSection(descSection)
  section.description-section
    h2.description-section__title=descSection.title
    p.description-section__desc=descSection.desc
    button.description-section__button.button=descSection.buttonText
