.items-section{
  padding:9.3rem 1.5rem 5.3rem 1.5rem;
  width:104rem;
  &__title::after{
    margin-top:5rem;
  }
  &__container{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
  }
  &__item{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    margin-bottom:4rem;
    font-family: Playfair Display, Georgia, serif;
    &-image{
      width:21.4rem;
      height:21.4rem;
      background-repeat: no-repeat;
      &-container{
        width:26rem;
        height:32.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191B1C;
      }
    }
    &-name{
      font-size: 1.8rem;
      margin-top:2.5rem;
    }
    &-price{
      font-size: 1.6rem;
      margin-top:1rem;
    }
  }
  &_size_fullscreen{
    width:100%;
    padding:12rem 0;
    .title::after{
      margin-top: 4rem;
    }
    .container{
      width:60%;
      margin: 0 auto;
      margin-top:4.1rem;
      margin-bottom:3rem;
    }
    .item{
      margin-top:4rem;
    }
  }
  &_narrow{
    background: #0f0f0f;
    padding:6rem;
    .container{
      margin-top:0;
      margin-bottom:2rem;
    }
    .image-container{
      height:auto;
      background-color: transparent;
      .item-image{
        width:25.5rem;
        height:9.4rem;
      }
    }
  }
  @media screen and (max-width:1800px) {
    width:80%;
  }
}
