mixin banner() 
  .banner
        .banner_container
          .banner__logo
            .banner__logo_size_big.logo porten
            .banner__logo_caption Санкт-Петербург
        p.banner__desc.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus interdum purus, est tortor pulvinar ut in. Fringilla a diam enim sed justo, sed iaculis sagittis. Tortor id eu interdum nec ut iaculis. Penatibus ullamcorper ultricies morbi ipsum sem metus pharetra, mi. Tortor nibh magna feugiat id nunc, dui nisl viverra.